<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_PLACHTA_THEORIST" LeaderName="LOC_LEADER_PLACHTA_THEORIST_NAME" LeaderDescription="LOC_LEADER_PLACHTA_THEORIST_DESCRIPTION" LeaderIcon="LEADER_PLACHTA_THEORIST"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_PLACHTA_THEORIST" Type="TRAIT_LEADER_PLACHTA_THEORIST_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_PLACHTA_THEORIST_ABILITY_NAME" Description="LOC_TRAIT_LEADER_PLACHTA_THEORIST_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_PLACHTA_THEORIST" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row LeaderType="LEADER_PLACHTA_THEORIST" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row LeaderType="LEADER_PLACHTA_THEORIST" TagType="TAG_GENDER_FEMALE"/>
		<Row LeaderType="LEADER_PLACHTA_THEORIST" TagType="TAG_ORIGIN_EUROPE_EAST"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_PLACHTA_THEORIST" Quote="LOC_MAIN_CHAR_SELECT_LEADER_PLACHTA_THEORIST_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" LeaderDomain="StandardLeaders" LeaderType="LEADER_PLACHTA_THEORIST" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_PLACHTA_THEORIST_MAYA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_PLACHTA_THEORIST" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_PLACHTA_THEORIST_MISSISSIPPIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" LeaderDomain="StandardLeaders" LeaderType="LEADER_PLACHTA_THEORIST" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_PLACHTA_THEORIST_HAWAII_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" LeaderDomain="StandardLeaders" LeaderType="LEADER_PLACHTA_THEORIST" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_PLACHTA_THEORIST_MEIJI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_PLACHTA_THEORIST" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_PLACHTA_THEORIST_PRUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_PLACHTA_THEORIST" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_PLACHTA_THEORIST" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_PLACHTA_THEORIST" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
	</LeaderUnlocks>
	<Mementos>
		<Row Type="MEMENTO_PLACHTA_THEORIST_MECHA_ARM" Name="LOC_MEMENTO_PLACHTA_THEORIST_MECHA_ARM_NAME" Description="LOC_MEMENTO_PLACHTA_THEORIST_MECHA_ARM_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_PLACHTA_THEORIST_MECHA_ARM_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_PLACHTA_THEORIST_MECHA_ARM_UNLOCK_TITLE" Tag="Expansionist"/>
		<Row Type="MEMENTO_PLACHTA_THEORIST_CLOUDBURST_HYDRITE" Name="LOC_MEMENTO_PLACHTA_THEORIST_CLOUDBURST_HYDRITE_NAME" Description="LOC_MEMENTO_PLACHTA_THEORIST_CLOUDBURST_HYDRITE_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_PLACHTA_THEORIST_CLOUDBURST_HYDRITE_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_PLACHTA_THEORIST_CLOUDBURST_HYDRITE_UNLOCK_TITLE" Tag="Expansionist"/>
		<Row Type="MEMENTO_PLACHTA_THEORIST_WIEGENTRAUM" Name="LOC_MEMENTO_PLACHTA_THEORIST_WIEGENTRAUM_NAME" Description="LOC_MEMENTO_PLACHTA_THEORIST_WIEGENTRAUM_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_PLACHTA_THEORIST_WIEGENTRAUM_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_NAPOLEON" UnlockTitle="LOC_MEMENTO_PLACHTA_THEORIST_WIEGENTRAUM_UNLOCK_TITLE" Tag="Scientific"/>
	</Mementos>
</Database>